<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rubicon.myexamples">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoordinatorLayoutExample"
            android:label="@string/coordinator_example_name">
        </activity>
        <activity
            android:name=".CardScroll"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/card_scroll_title">
        </activity>
        <activity
            android:name=".TextAnimationExample">
        </activity>
        <activity
            android:name=".CustomViewExample"
            android:label="@string/custom_view_name">
        </activity>
        <activity android:name=".RememberWords"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Hero">

        </activity>
    </application>
</manifest>